/* Poppins typeface from Google */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 32px 0;
    background-color: rgb(248, 247, 247);
    height: 400px;
}

.row {
    width: 100%;
    display: flex;
}


/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px 16px 40px;
    background-color: rgb(248, 247, 247);
    height: 136px;
    position: relative;
}

.nav__wave {
    position: absolute;
    bottom: -98px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav__side--right,
.nav__side--left {
    transform: translateY(4px);
}

.nav__side--left {
    display: flex;
    align-items: center;
}

.nav__link--list {
    display: flex;
    list-style-type: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav__link--entrance1 {
    animation: fade-in 1s 500ms forwards;
    opacity: 0;
}

.nav__link--entrance2 {
    animation: fade-in 1s 600ms forwards;
    opacity: 0;
}

.nav__link--entrance3 {
    animation: fade-in 1s 700ms forwards;
    opacity: 0;
}

.nav__link--entrance4 {
    animation: fade-in 1s 800ms forwards;
    opacity: 0;
}

.nav__link--entrance5 {
    animation: fade-in 1s 900ms forwards;
    opacity: 0;
}

.nav__link--entrance6 {
    animation: fade-in 1s 1000ms forwards;
    opacity: 0;
}

.nav__link {
    padding-right: 32px;
    transition: transform 300ms ease;
}

.nav__link--anchor {
    font-size: 24px;
    font-weight: 300;
    color: #302f2c;
    text-decoration: none;
}

.nav__link:hover {
    transform: scale(0.9);
}

.nav__side--right {
    display: flex;
    align-items: center;
}

.nav__logo--wrapper {
    width: 88px;
    height: 88px;
    position: relative;
}

.nav__logo--wrapper::after {
    content: "";
    position: absolute;
    width: 77px;
    height: 77px;
    background-color: transparent;
    border-top: 2px solid burlywood;
    border-radius: 50%;
    top: 5%;
    left: 5%;
    opacity: 1;
    animation: circle 1100ms 0s 3 linear,
    fade-out 1s 2750ms forwards;
} 

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


@keyframes circle {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav__logo {
    width: 100%;
}

/* ABOUT ME */

.header__about-me {
    width: 100%;
    height: calc(100vh - 136px);
}

.container__header {
    position: relative;
}

.about-me__background--wrapper {
    height: calc(100vh - 136px);
    overflow: hidden;
    position: relative;
}

.about-me__background--wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(138, 143, 115, 0.66);
}

.about-me__background--img {
    width: 100%;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    transform: translateY(-45.5%);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 400px;
}

@keyframes fade-in-slide-left {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-me__name--business {
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateX(20px);
    animation: fade-in-slide-left 2s 1200ms forwards;
}

.about-me__work-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateX(20px);
    animation: fade-in-slide-left 2s 1200ms forwards;
}

/* ABOUT ME  */

.about-me__side--right,
.about-me__side--left {
    width: 50%;
}